################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/c language/03172025Average.c
/c language/03172025Average.c
